html, body {
    background-color: #252830;
    min-height: 100%;
}
.div_index {
    min-width: 72%;
    /* margin-left: 0; */
}
.caixa_filtros {
    background-color: #000;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    margin-left: 0;
    margin-right: 0;
    border-radius: 3px;
    color: #fff !important;
    padding: 0px 10px 10px 10px;
}
.caixa_filtros .label {
    color: #fff !important;
}
.tabela_videos tbody {
    color: #fff;
}
.tabela_videos tbody tr:nth-child(even) {
    background-color: #3b0b7b;
}
.tabela_videos tbody tr:nth-child(odd) {
    background-color: #000;
}
.caixa_filtros legend {
    text-align: center;
    border-bottom: 1px solid #fff;
    width: 100%;
}
#valor_periodo {
    width: 25px;
}
.radio+.radio {
    margin-left: 0 !important;
}
.title {
    color: #fff;
}
.modal-card-title {
    color: #fff;
}
.modal-card-head {
    background-color: #000;
}
.modal-card-body {
    background-color: #252830;
}
.modal-card-foot {
    background-color: #000;
    justify-content: space-between;
}
.modal-card {
    height: 70%;
    width: 53%;
    margin-top: -150px;
}
.modal-card-body .label {
    color: #fff;
}
.dados_video {
    color: #ddd;
    font-style: italic;
}
.icones i {
    cursor: pointer;
}
.icones .column {
    text-align: center;
}
.input_form {
    height: 2.3em;
    border-radius: 3px !important;
}
.radio .input_form {
    width: 40%;
}
.calendar-table table thead tr:nth-child(2) {
    display: none;
}
.caixa_filtros h2 {
    text-align: center;
    border-bottom: 1px solid #fff;
}
.selectize-dropdown-content {
    overflow-y: hidden;
    max-height: 100% !important;
    font-weight: bold;
    cursor: pointer;
}
.selectize-dropdown .active, .selectize-dropdown [data-selectable] .highlight {
    background-color: #061994 !important;
    color: #fff;
}
.selectize-dropdown-content .option:nth-child(even) {
    background-color: #ddd;
}
div .icones {
    margin-right: -2px;
}
.total_videos {
    float: right;
}
.hot {
    color: red !important;
}